<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/stylesheet/styles.css" text="css/text" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div>
      <h1>Url Shortener</h1>
      <form action="/links" method="POST"><%- include('_form_fields') %></form>
    </div>
  </body>
</html>
